Django==5.1
pytube==15.0.0
assemblyai==0.35.1
openai==1.54.4
aiohttp
aiosignal
anyio
arabic-reshaper
asgiref
asn1crypto
async-timeout
attrs
cachetools
cffi
charset-normalizer
click
cryptography
cssselect2
defusedxml
django-allauth
django-extensions
django-googledrive-storage
django-storages
fastapi
frozenlist
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
h11
html5lib
httpcore
httplib2
httpx
idna
iniconfig
lxml
multidict
psycopg2
psycopg2-binary
requests
sqlparse
webencodings
websockets